// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$light: rgb(240,240,240);

body {
  background: $light;
  text-align: center;
}

h1 {
  font-family: arial;
  margin-bottom: 40px;
  margin-top: 30px;
}

p {
  font-family: arial;
}

a {
  text-decoration: none;
  color: gray;
}

.btn {
  background: $light;
  width: 200px;
  margin: auto;
  margin-top: 30px;
  border: 2px solid gray;
  border-radius: 4px;
  padding: 10px;
}

.maintxt {
  font-size: 26px;
}

.card {
  margin: 20px auto;
  background: white;
  box-shadow: 2px 2px 10px rgba(0,0,0,.1);
  border-radius: 4px;
  padding: 10px 20px;
  width: 400px;
}
